*{
    font-family: 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
    color: azure;
    background-color: #686868;
    text-align: center;
    list-style-type: none;
    
}

a{
    color: orange;
}



