*{
    font-family: 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
    color: azure;
    background-color: #686868;
    list-style-type: none;
    text-align: center;
}

h1, h2, p{
    text-align: center;
}

a {
    color: orange;
}

